@model CeeveeSoftWebProj.Models.Portfolio

@{
    ViewData["Title"] = "Details";
}


    <div class="card-body text-white bg-secondary mt-0">
        <h3> Good Job @Model.FirstName! </h3>

        <p><b>Your page is ready to be viewed and shared</b></p>
        <p>You can edit the contents, view your deployed page or copy the Url from the links below</p>
    </div>
    <div class="card-body ">

        <div class="row justify-content-center">
            <div class="col">
                <img src="@ViewBag.Profilepics" height="240" width="240" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <section>
                    <header>
                        <h3>Name</h3>
                    </header>
                    <p>@Model.FullName</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3>Email</h3>
                    </header>
                    <p>@Model.EmailAddress</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3>Phone Number</h3>
                    </header>
                    <p>@Model.PhoneNumber</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3>Address</h3>
                    </header>
                    <p>@Model.Address</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3>Linkdin Profile</h3>
                    </header>
                    <p>@Model.LinkdinHandle</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3>Summary</h3>
                    </header>
                    <p>@Model.ProfessionalSummary</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3> Address</h3>
                    </header>
                    <p> @Model.Address</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3> Education</h3>
                    </header>
                    <p>@Model.Educations.ClassOfDegree @Model.Educations.Course (@Model.Educations.Date.ToString("yyyy"))</p>

                </section>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3> Work Experience</h3>
                    </header>
                    <p>@Model.Experiences.Period</p>
                    <p> @Model.Experiences.Role</p>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <section>
                    <header>
                        <h3> Skills</h3>
                    </header>
                    <p>@Model.Skills.SkillContent</p>

                </section>
            </div>
        </div>
        <div>
            <a asp-action="edit" asp-route-id="@Model.Id" class="btn btn-danger" role="button"> Edit Portfolio</a>
            <a asp-action="Index" asp-route-id="@Model.Id" class="btn btn-success" role="button"> View Your Completed page</a>
        </div>
        <br />
        @*<div>
            <article id="contentbtn"> @ViewBag.url</article>
            <button class="btn-primary" id="btncopy" >Click to copy your page URL</button>

        </div>*@
    </div>
   




    

